.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


html, body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

main{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 80%;

}

h1{
  font-size: 64px;
  margin: 0;
}
p{
  font: 16px;
}

.info{
  align-self: flex-start;
}

.roulette {
  font-family: 'Work Sans', sans-serif;
  display: block;
  position: absolute;
  width: 700px;
  height: 700px;
  bottom: -20%;
}
@media screen and (max-width: 700px) {
  .roulette{
    width: 500px;
    height: 500px;
  }
}
.roulette .shadow {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0 .3em 0 rgba(0, 0, 0, .25) inset;
}


.roulette .spinner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  transform: rotateZ(0deg);
  backface-visibility: hidden;
}

.roulette .spinner .item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: 50%;
  transform-origin: 0 100%;
  border: 0 solid transparent;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background-position: -282px bottom;
  background-size: contain;
}

.roulette .spinner .item .label {
  display: block;
  position: absolute;
  color: #FFF;
  font-weight: 800;
  top: 0;
  left: 0;
  white-space: nowrap;
  transform-origin: 0 0;
  font-size: .8em;
}

.roulette .button {
  width: 10em;
  height: 10em;
  line-height: 10em;
  top: 50%;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;
  font-weight: 800;
  z-index: 998;
  position: absolute;
  background: #FFF;
  border: none;
  border-radius: 100%;
  color: #999;
  outline: none;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 .4em 0 rgba(0, 0, 0, .25);
  text-align: center;
  transition: transform 0.15s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.roulette .button:hover {
  color: inherit;
}

.roulette .button span {
  font-size: 1.6em;
  letter-spacing: -0.05em;
}

.roulette.busy .button {
  transform: scale(0.9);
  box-shadow: 0 .15em 0 rgba(0, 0, 0, .25);
  color: #999;
  cursor: default;
}

/* CUSTOM LABELS */
.roulette .spinner .item[data-type="quiz"] .label {
  font-size: 1.5em;
}

.roulette .spinner .item[data-type="question"] .label {
  font-size: 1.3em;
  font-weight: 600;
}

.roulette .spinner .item[data-type="replay"] .label .text {
  font-size: .6em;
  white-space: initial;
  width: 1em;
  text-align: center;
  line-height: 1.2;
}

.roulette .spinner .item[data-type="time"] .label i {
  font-size: 1.5em;
}